@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

/* Header */
#page-header {
    background-color: darkgrey;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

/* Menu */
#menu-btn {
    display: inline-block;
}

#menu-itens {
    display: none;
}

@media screen and (min-width: 992px) {
    #menu-btn {
        display: none;
    }

    #menu-itens {
        display: inline-flex;
    }
}

#menu-itens a.active {
    color: blue;
}

#menu-itens a:hover {
    color: red;
}

main {
    padding: 1rem;
    padding-top: 5rem;
}

main > section {
    background-color: darkorange;
    height: 600px;
}

main > section.active {
    background-color: red;
}

#back-top {
    position: fixed;
    display: none;
    margin: 0;
    padding: 1rem;
    bottom: 2rem;
    right: 2rem;
}

footer {
    background-color: darkgrey;
    padding: 1rem;
}
